.Rproj.user
.Rhistory
.RData
.Ruserdata
.RdataTmp
.vscode
main/Dati_iniziali/datasetO3.csv
main/Dati_iniziali/stazioni_O3.csv
Theory/
.DS_Store
main/.DS_Store
main/Dati_iniziali/
main/Modello/.ipynb_checkpoints/
main/Modello/stan/
main/Datasets/Residuals_180.csv
main/Datasets/Residuals_120.csv
main/Modello/base.hpp
main/Modello/base.stan
main/Modello/base.exe
