.Rproj.user
.Rhistory
.RData
.Ruserdata
.RdataTmp
.vscode
main/Dati_iniziali
Theory/
.DS_Store
main/.DS_Store
main/Dati_iniziali/
main/Modello/.ipynb_checkpoints/
main/Modello/stan/compiled
main/Datasets/Space_estimate/
main/Modello/__pycache__/
Appunti.txt
